.Button {
	width: 180px;
	height: 40px;
	display: flex;
	cursor:pointer;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
    font-size:18px;
    border: none;
	margin: 10px;
	padding: 10px 10px 10px;
	justify-content: left;
}


.Button:hover {
	background-color:lightgray;
	transition: transform .5s;
	transform: translateX(10px);
}

button i {
    padding-right: 15px;
}