.Skills {
  display:  grid;
  grid-template-columns: repeat(3,minmax(200px,400px));
  grid-template-rows: auto-fit;
  padding-top: 15px;
  column-gap: 10px;
}

@media (max-width: 800px) {
  .Skills {
    display:  grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,400px));
    grid-template-rows: auto-fit;
    padding-top: 15px;
    column-gap: 10px;
  }
}


