.Resume {
    display: grid;
    grid-template-columns: repeat(3,minmax(50px,125px));
    justify-items: center;
    margin: 35px 35px;
}

div.p {
    text-align: center;
}

.Resume a:hover {
	transition: transform .2s;
	transform: translateY(-5px);
}

@media (max-width: 300px) {
    .Resume {
        display: grid;
        grid-template-columns: repeat(1,minmax(100px,200px));
        column-gap: 10px;
        justify-items: center;
        margin-top: 25px;
    }
}