.Logo {
  text-align: left;
  width: 190px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.Logo h3 {
  font-size: 30px;
  color: lightskyblue;
  margin: 2px;
}

.Logo p {
  font-size: 18px;
  color: slategrey;
  margin: 2px;
}
