.NavigationItem {
  margin: 10px 0;
  padding-top: 0px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: slategrey;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-bottom: 4px solid transparent;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40a4c8;
}

@media (min-width: 625px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 20%;
    width: auto;
    align-items: center;
  }

  .NavigationItem a {
    color: black;
    height: 20%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: slategrey;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}
