.header {
    margin-top: 10px;
    height: 80px;
    width: 100%;
    max-width: 1800px;
    min-width: 500px;
    color: lightskyblue;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    background-color: slategray;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

 
