.about {
  margin: 20px 50px;
}

.about p {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  margin: 30px;
  color: black;
}

.focus {
  font-weight: bolder;
  color: black;
}

.focus a {
  text-decoration: underline;
}

.request {
  display: flex;
  justify-content: center;
}

.Resume {
  display: flex;

  justify-content: center;
  align-content: space-around;
}

div.p {
  text-align: center;
}

.links {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 1rem;
  /* align-items: center; */
}

.Resume a:hover {
  transition: transform 0.2s;
  transform: translateY(-5px);
}
