.infocard {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  position: relative;
  display: block;
  width: 100%;
  max-width: 500px;
  height: 520px;
  margin: 5px;
  padding: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.Logo {
  width: 100px;
  height: 100px;
  margin-top: 15px;
}

.title {
  margin: 35px 35px;
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 300px));
  grid-template-rows: auto-fit;
  column-gap: 35px;
  justify-items: center;
}

.title h1 {
  font-size: 18px;
}

.title p {
  padding-top: 28px;
}

a:link {
  text-decoration: underline;
}

.titlehr {
  border-top: 1.25px solid #dedede;
  margin-left: 15px;
  margin-right: 15px;
  width: 640x;
}

.desc {
  color: #757575;
  text-align: center;
  margin: 10px;
  font-size: 12px;
}

.items {
  margin: 20px;
  list-style-type: circle;
}

.time {
  display: inline-block;
  background-color: aliceblue;
  font-size: 11px;
  width: 100%;
  color: #757575;
}

.items::before {
  content: "•";
  color: black;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.time p {
  position: absolute;
  bottom: 0;
  margin: 10px;
}

@media (max-width: 450px) {
  .Logo {
   display: none;
  }

  .title {
    display: grid;
    grid-template-columns: repeat(1, minmax(10px, 300px));
    grid-template-rows: auto-fit;
    justify-items: center;
  }

  .infocard {
   height: 650px;
  }
}
