.maincontent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  background-image: url("./assets/Background/ignasi_pattern_s.png");
  background-repeat: inherit;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 500px) {
  .maincontent {
    margin: 0;
  }
}
