.maincontent {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  padding: 10px 0;
  margin-top: 50px;
}

@media (max-width: 500px) {
  .maincontent {
    margin: 0;
  }
}
